



<div class="container" id="home">
<div style="text-align: center;" class="col-lg-10 col-centered"> 

  <div class="alert alert-info" role="alert">
  <h2> <i class="fa fa-shopping-basket" aria-hidden="true"></i> Your Shopping Basket</h2>
  <p>Your shopping cart is currently empty.</p>
  <a href="<?php echo BASE_URL; ?>marketplace/" class="btn btn-link  btn-lg btn-block"> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> go to marketplace</a>
  </div>


</div><!--home container-->
