

<div class="container" id="home">

 <div class="col-lg-10 col-centered"> 

          	
<div style="text-align: center;" class="col-lg-10 col-centered"> 

			<div class="alert alert-info" role="alert">
          	
          	<p>
             Unfortunately there are no products to list in this category. Please use the links at the top of the page to continue shopping. We apologize for the inconvenience.
             </p>
             <a href="<?php echo BASE_URL; ?>marketplace/" class="btn btn-link  btn-lg btn-block"> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> go to marketplace</a>

             </div>


</div>
</div>
