
      
<div class="container" id="home">

<div class="row">


	<div class="col-sm-12">

		<div class="row">

		     <div class="col-lg-10 col-centered">

		     	<div class="row">

		     			<div class="col-sm-12 user_cover">
		     					
		     					<div  style="min-height: 300px;" class="well">

		     					 <?php if(isset($_SESSION['username'])) echo $_SESSION['username']; ?>

		     					</div>

		     			</div>


		     			<div class="col-sm-12"> 

						<div>

						  <!-- Nav tabs -->
						  <ul class="nav nav-tabs" role="tablist">

						    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>

						    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>

						    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>

						    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>

						  </ul>

						  <!-- Tab panes -->
						  <div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="home"> 1 </div>
						    <div role="tabpanel" class="tab-pane" id="profile"> 2 </div>
						    <div role="tabpanel" class="tab-pane" id="messages"> 3 </div>
						    <div role="tabpanel" class="tab-pane" id="settings"> 4 </div>
						  </div>

						</div>

		     		</div>

		     	</div>

		     </div>	

		</div>

		  
  </div>






</div><!--row-->



</div><!--home container-->