/*`
Notes: Hand coded for linkthegap
*/




/*fonts*/ /* typography */
@font-face {
  font-family: "Synchro_LET";
  src: url(../../assets/fonts/Synchro_LET.ttf);
}

ul li {

	list-style-type: none;

}


a.connect_btn{



}






#profile_text{

	height: 250px; 
	width: 600px;
	float: right; 
	padding: 25px; 
	margin-top: 10px; 
	background-image: url(../../assets/img/backgrounds/hands_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}




#search_profile{

	width: 500px; float: right;
	margin-right: 40px; 

}



#search_profile input{

	background: transparent;
}



.profile{
	height: 300px;
}


.top_profile{

	height: 35px; 
	padding: 10px; 
	text-align: center;

}









ul.min_profile_user{

width: 390px; 
margin: 0 auto;
height: 20px; 
padding: 10px; 
text-align: center;
margin-top: -15px;
}


ul.min_profile_user li{

list-style-type: none; 
display: inline-block;
text-align: center;


}





img.user_min_image{


	width: 100px;
	height: 100px;

	 -webkit-border-radius: 100px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 100px;
    -moz-background-clip: padding;
    border-radius: 100px;
    background-clip: padding-box;
    //-webkit-filter: grayscale(100%);
    //filter: grayscale(100%);
    border: 1px solid #ccc; 

}

#user_min_profile{

	position: fixed;
	display: none;
	width: 440px;
	height: 160px;
	//border: 1px solid #000;
	z-index: 10;
	//border: 2px solid #fff;
	border-radius: 10px;
    //box-shadow: 0 0 7px #000;
    background-color: transparent;
    padding: 10px;
    opacity: 0.9;


	//background-image: url(../images/backgrounds/hands_bg.png);
	//background-position: center;
	  //background-repeat: no-repeat;
	  //background-size: 100%;

}



#users_family {

  display: block;
  margin: 0 auto;
  width: 100%;
  height: 700px;
  padding-top: 10px; 
  //border: 1px solid #ccc;
  //background-color: #eee;

}


/*pop up sub gaps css */
.pop_sub_gaps{

	width: 100%; 
	margin: 0 auto;
	box-shadow: none;

}


ul.pop_sub_gaps li{

	border: none;
}






/* google capture */ 
.g-recaptcha{

	margin-left: 30px; 
}



/* global styles */

#add_gap_info
{

	width: 50%; 
	margin: 0 auto;
	
}


.list-group{

width: 300px; 

}


 #map {

  width: 100%;
  background-color: #CCC;
  min-height: 500px;

}



.modal-content{

width: 1100px; 

margin-left: -100px; 

}



#summernote{

	
}

#myId{

	width: 96%; 
	margin: 0 auto;
	margin-bottom: 10px; 
	text-align: center;


}


html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}




.inline-block
{
    display: inline-block;
}




.inline-block
{
    zoom: 1;
    *display: inline;
}



.twenty-five-perc
{
    width: 24%;
    height: 300px; 
    margin-bottom: 10px; 
}





img {

max-width: 100%;
height: auto;

}




body{
	
	background-color: #000;
	//background-image: url('../../assets/img/backgrounds/body_bg.jpg');
	//background-position: center;
	//background-repeat: repeat;
}




h2{
 

 text-align: center;
	

}



#breadcrumb_menu{
background-color: transparent;
width: 80%; 
margin: 0 auto;


}


span.glyphicon, i.fa{

	color: #000;
}



input[type="text"]{

	width: 100%; 
	

}

a{

	color: blue;
}





/* nav bar  */
.navbar{


	background-color: transparent;
	background: transparent;
	border-color: transparent;
	border: none;
	
}



.navbar li{

	display: inline-block;
	text-align: center;

}





.navbar li a{

  text-transform: uppercase;
  font-family: Synchro_LET;

}











/*landing page*/




#langpage{

	width: 100%;
	margin: 0 auto;
	margin-left: -25px;

}


#video_container{

	width: 100%;
	margin: 0 auto;
	height: 400px; 
	padding: 5px; 

}


#logo_land{

	width: 100%;
	margin: 0 auto;
	height: 300px; 
	padding: 5px; 

}





#text_land{

	width: 100%;
	margin: 0 auto;
	min-height: 200px; 
	max-height: 250px; 
	padding: 10px; 
	

}





#form_land{


	width: 100%;
	margin: 0 auto;
	height: 300px; 
	padding: 5px; 
	



}







img#logo_landing_page{

	
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    
}















/* home */

#intro_top{



}



#users_home{



}

ul.menu_logged_in{

	width: 100%;
	margin: 0 auto;
	padding: 5px;

}


ul.menu_logged_in li{
	list-style-type: none;
	display: block;
	margin-bottom: 5px;


}


ul.menu_logged_in li a{
	text-decoration:  none;
	margin-left: 10px; 

}



ul.menu_logged_in li i{
	text-decoration:  none;
	padding-left: 5px; 
}




#home_text .lead{
    text-align: center;
    font-weight: bold;
}


ul.stop_go_family{
	margin: 0 auto;
}




#ltg_family_center{

	width: 90%; 
	margin: 0 auto;
	margin-left: 40px; 
}



.col-centered{
    float: none;
    margin: 0 auto;
    height: 1265px; 

}



.alert{
width: 100%; 
 
margin: 0 auto;

}


p.lead{
	text-align: center;
}




#login{

width: 100%; 
margin: 0 auto;
margin-top: 10px; 
background-color: #fff; 
padding: 30px;
border-radius: 10px;  
box-shadow: 0 0 30px black;
}



.display-4{

	text-align: center;
}



.error{

	color: #e00; 
}



img.recapture{

	border: 1px solid #ccc;
	border-radius: 5px; 
	padding: 5px; 
	text-align: center;

}


#required{
 color: #e00;
}



.list-inline{

text-align: center;


}







ul.logged_in{
 
 padding: 0;
 margin: 0;


}



li#logged_user_name{


}



img#img_user_logged_in{

	margin-top: -5px; 
	margin-left: -20px; 
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 25px;
    -moz-background-clip: padding;
    border-radius: 25px;
    background-clip: padding-box;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 1px solid #ccc; 

}






form.join_form{

	width: 100%;
	margin: 0 auto; 
}

/* footer */

footer{


	color: blue;
	font-size: 1.2em; 
	padding: 20px; 


}


footer p {

	text-align: center;
}

ul.unstyled{

	list-style: none;
	padding: 0;
}








